@import url("@/styles/components/Loader.module.css");

.Form {
  background-color: var(--white);
  padding: 8rem 1rem 1rem;
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 85dvh;
  overflow-y: auto;
  position: relative;
  width: 100%;
  align-self: flex-start;
  margin-top: 4rem;
  max-width: 95%;
}

.Form::-webkit-scrollbar {
  display: none;
}

.Form header {
  background-color: var(--secondary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Form h2,
.Form .Tagline {
  text-align: center;
}

.Form h2 {
  font-size: var(--fs-base);
}

.Form .Tagline {
  font-size: var(--fs-sm);
  text-transform: uppercase;
}

.Field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Field label {
  font-size: var(--fs-sm);
  text-transform: uppercase;
  color: var(--dark-500);
}

.Field input,
.Field select,
.Field textarea {
  padding: 0.3rem;
  border-radius: var(--radius-s);
  border: 1px solid var(--gray);
  font-size: var(--fs-md);
  font-family: var(--ff-base);
}

.Field select {
  text-transform: capitalize;
}

.Field option {
  width: 100%;
}

.Field textarea {
  resize: none;
}

.Field textarea:placeholder-shown {
  font-size: var(--fs-s);
  padding: 1rem;
}

.Field.Legal {
  grid-column: 1/-1;
}

.Field.Legal label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: lowercase;
}

.Field.Legal label a {
  color: var(--link);
}

.Submit {
  grid-column: 1/-1;
  font-size: var(--fs-md);
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  min-height: 50px;
  background-color: var(--primary);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: var(--radius-l);
  color: var(--white);
  transition: background-color 0.3s ease;
}

.Submit:disabled {
  cursor: not-allowed;
}

.Submit.sending {
  background-color: var(--black);
}

.Submit.error {
  background-color: darkred;
}

.Submit.success {
  background-color: var(--wa);
}

/* MODFIERS */

.Form.Home {
  box-shadow: var(--shadow);
  margin-inline: auto;
  margin-top: 5rem;
  max-height: none;
  height: auto;
}

.Form.OneClass {
  box-shadow: var(--shadow);
  margin-inline: auto;
  max-height: none;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10rem 1rem 1rem;
}

.Form.Contact {
  box-shadow: var(--shadow);
  height: fit-content;
  overflow-y: visible;
  max-height: none;
  overflow: hidden;
}

/* DESKTOP */

@media (min-width: 1024px) {
  .Form {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    max-width: 700px;
    height: 90vh;
    max-height: 600px;
    padding: 8rem 2rem 2rem;
    margin-top: 2rem;
  }

  .Field:nth-of-type(1),
  .Field:nth-of-type(2),
  .Field:nth-of-type(3) {
    grid-column: span 2;
  }

  .Field.Modality,
  .Field.Hours {
    grid-column: span 3;
  }

  .Field.Msg {
    grid-column: 1/-1;
  }

  .Form.OneClass {
    padding: 8rem 2rem 2rem;
  }
}
