.Modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  height: 100vh;
  width: 100%;
  z-index: 120;
}

.WrapModal {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: calc(var(--header-height) / 2);
}

.Close {
  position: absolute;
  color: var(--white);
  right: 0;
  top: 0;
  background-color: var(--dark-300);
  color: var(--gray);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 var(--radius) var(--radius);
  padding: 0.3rem;
  width: 2.5rem;
  height: 2.5rem;
}

.Modal p {
  color: var(--white);
}

@media (min-width: 1024px) {
  .Close {
    right: 3%;
  }
}
