.content-body h2 {
  font-size: var(--fs-xl);
}

.content-body h3 {
  font-size: var(--fs-l);
}

.content-body > h2,
.content-body > h3 {
  margin-block: 1lh;
}

.content-body p:first-of-type {
  margin-top: 0;
}

.content-body > p {
  margin-block: 1lh;
  font-size: var(--fs-md);
}

.content-body a {
  color: var(--link);
}

.content-body img {
  border-radius: var(--radius-m);
  box-shadow: var(--shadow);
}

/* LEGAL PAGE */

body.legal .content-body h1 {
  font-size: var(--fs-2xl);
}

body.legal .content-body h2 {
  margin-block: 1lh;
}

body.legal .content-body ul,
body.legal .content-body ol {
  padding-left: 2rem;
}

body.legal .content-body ul li {
  list-style: initial;
  margin-block: 0.5lh;
  font-size: var(--fs-md);
}

body.legal .content-body ol li {
  list-style: decimal;
  margin-block: 0.5lh;
  font-size: var(--fs-md);
}

/* DESKTOP */

@media (min-width: 1024px) {
  .content-body p {
    font-size: var(--fs-base);
  }

  body.legal .content-body ul li,
  body.legal .content-body ol li {
    font-size: var(--fs-base);
  }
}
