---
import Above from "@/components/Above.astro";
import CardsAdv from "@/components/CardsAdv.astro";
import CardsServices from "@/components/CardsServices.astro";
import CardsStep from "@/components/CardsStep.astro";
import Faqs from "@/components/Faqs.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import { MainForm } from "@/components/react/MainForm";
import { Pattern } from "@/components/react/Pattern";
import Section from "@/components/Section.astro";
import { mainClasses, programs } from "@/data/classes";
import { imagesHome } from "@/data/images";
import { howStart } from "@/data/steps";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <!-- clases principales -->
  <Section class="first">
    <div class="wrapper">
      <HeadingH2>clases principales</HeadingH2>
      <HeadingDescription>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </HeadingDescription>

      <CardsServices cards={mainClasses} />
    </div>
  </Section>
  <!-- programas -->

  <Section>
    <div class="wrapper">
      <HeadingH2>programas</HeadingH2>
      <HeadingDescription>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </HeadingDescription>
      <CardsServices cards={programs} style="programs" />
    </div>
  </Section>

  <!-- ventajas -->

  <Section>
    <Pattern>
      <div class="pattern-space wrapper">
        <HeadingH2>ventajas</HeadingH2>
        <HeadingDescription>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
          libero doloremque, voluptate dolorem nemo delectus architecto
          accusantium omnis nobis placeat quia inventore voluptas alias animi!
          Consequatur rem at labore.
        </HeadingDescription>
        <CardsAdv />

        <div class="how-star">
          <HeadingH2>cómo empezar</HeadingH2>
          <HeadingDescription>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit
            commodi libero doloremque, voluptate dolorem nemo delectus
            architecto accusantium omnis nobis placeat quia inventore voluptas
            alias animi! Consequatur rem at labore.
          </HeadingDescription>
          <CardsStep steps={howStart} />
        </div>

        <MainForm client:visible style="Home" />
      </div>
    </Pattern>
  </Section>

  <!-- escuela -->

  <Section>
    <div class="wrapper school">
      <HeadingH2>sobre la escuela</HeadingH2>
      <HeadingDescription>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </HeadingDescription>
    </div>

    <ImagesGrid images={imagesHome} />

    <div class="wrapper">
      <HeadingDescription>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </HeadingDescription>
      <a class="btn link-page" href="/es/escuela/">Más información</a>
    </div>

    <div class="mt-6">
      <div class="wrapper-max">
        <HeadingH2>preguntas frecuentes</HeadingH2>
        <HeadingDescription>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
          libero doloremque, voluptate dolorem nemo delectus architecto
          accusantium omnis nobis placeat quia inventore voluptas alias animi!
          Consequatur rem at labore.
        </HeadingDescription>

        <Faqs />
      </div>
    </div>
  </Section>
</Layout>

<style>
  .link-page {
    margin-inline: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .how-star {
    margin: 5rem 0;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    .link-page {
      width: fit-content;
    }
  }
</style>
