---
import Above from "@/components/Above.astro";
import CardsServices from "@/components/CardsServices.astro";
import CardsSteps from "@/components/CardsSteps.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import { MainForm } from "@/components/react/MainForm";
import { Modal } from "@/components/react/Modal";
import Section from "@/components/Section.astro";
import { mainClasses, programs } from "@/data/classes";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <Section class="first">
    <div class="wrapper">
      <HeadingH2>clases principales</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>

      <CardsServices cards={mainClasses} />
    </div>
  </Section>
  <Section>
    <div class="wrapper">
      <HeadingH2>programas</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
      <CardsServices cards={programs} style="programs" />
    </div>
  </Section>
  <Section>
    <div class="wrapper">
      <HeadingH2>cómo funciona</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
      <CardsSteps />
      <MainForm client:visible style="Home" />
    </div>
  </Section>
  <Section>
    <div class="wrapper">
      <HeadingH2>ventajas</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
    </div>
  </Section>
  <Section>
    <div class="wrapper">
      <HeadingH2>sobre la escuela</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
    </div>
  </Section>
  <Section>
    <div class="wrapper">
      <HeadingH2>preguntas frecuentes</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
    </div>
  </Section>
  <Modal client:idle />
</Layout>

<style>
  @media (min-width: 1024px) {
    p {
      text-align: center;
      max-width: 70ch;
      margin-inline: auto;
      margin-top: 2rem;
    }
  }
</style>
