---
import Above from "@/components/Above.astro";
import CardsAdv from "@/components/CardsAdv.astro";
import CardsServices from "@/components/CardsServices.astro";
import Faqs from "@/components/Faqs.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import { MainForm } from "@/components/react/MainForm";
import { Modal } from "@/components/react/Modal";
import { Pattern } from "@/components/react/Pattern";
import Section from "@/components/Section.astro";
import { mainClasses, programs } from "@/data/classes";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Above />
  <!-- clases principales -->
  <Section class="first">
    <div class="wrapper">
      <HeadingH2>clases principales</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>

      <CardsServices cards={mainClasses} />
    </div>
  </Section>
  <!-- programas -->

  <Section>
    <div class="wrapper">
      <HeadingH2>programas</HeadingH2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
        libero doloremque, voluptate dolorem nemo delectus architecto
        accusantium omnis nobis placeat quia inventore voluptas alias animi!
        Consequatur rem at labore.
      </p>
      <CardsServices cards={programs} style="programs" />
    </div>
  </Section>

  <!-- ventajas -->

  <Section>
    <Pattern>
      <div class="pattern wrapper">
        <HeadingH2>ventajas</HeadingH2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga aut
          error fugit sapiente repellat! Repellat quaerat doloribus tempore, ad
          praesentium necessitatibus quam temporibus explicabo in quibusdam
          tenetur? Officia, aut necessitatibus?
        </p>
        <CardsAdv />

        <MainForm client:visible style="Home" />
      </div>
    </Pattern>
  </Section>

  <!-- escuela -->

  <Section>
    <div class="wrapper school">
      <div>
        <HeadingH2>sobre la escuela</HeadingH2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
          libero doloremque, voluptate dolorem nemo delectus architecto
          accusantium omnis nobis placeat quia inventore voluptas alias animi!
          Consequatur rem at labore.
        </p>

        <a class="btn link-page" href="/es/escuela/">Más información</a>
      </div>
    </div>

    <Section>
      <ImagesGrid />
    </Section>

    <Section>
      <div class="wrapper-max">
        <HeadingH2>preguntas frecuentes</HeadingH2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
          libero doloremque, voluptate dolorem nemo delectus architecto
          accusantium omnis nobis placeat quia inventore voluptas alias animi!
          Consequatur rem at labore.
        </p>

        <Faqs />
      </div>
    </Section>
  </Section>

  <Modal client:idle />
</Layout>

<style>
  p {
    margin-top: 1rem;
  }

  .pattern {
    position: relative;
    z-index: 1;
    padding: 5rem 0;
  }

  .link-page {
    margin-inline: auto;
    display: flex;
    /* width: fit-content; */
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
  }

  .school {
    display: flex;
    flex-direction: column;
    gap: 10rem;
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    p {
      text-align: center;
      max-width: 70ch;
      margin-inline: auto;
    }

    .link-page {
      width: fit-content;
    }
  }
</style>
