---
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import WrapperPosts from "@/components/WrapperPosts.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
const metaData = {
  metaTitle: "Blog",
  metaDescription: "Artículos sobre el Jiu Jitso",
};
---

<Layout metaData={metaData}>
  <Hero h1="blog" tagline="artículos sobre el jiu jitsu" />
  <Section class="wrapper no-space">
    <WrapperPosts posts={posts} />
  </Section>
</Layout>
