<button class="btn-main-cta"> reservar clase gratuita </button>

<style>
  button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 0.5rem 3rem;
    border-radius: var(--radius);
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: var(--third);
  }
</style>
