---
import WhatsApp from "@/components/icons/WhatsApp.astro";
import { WHATSAPP_MSG } from "@/vars";

interface Props {
  link?: string;
}

const { link = WHATSAPP_MSG.GENERAL } = Astro.props;
---

<button>
  <slot>
    <a target="_blank" rel="noopener noreferrer" href={link}>
      información por WA
    </a>

    <WhatsApp size={25} />
  </slot>
</button>

<style>
  button {
    background-color: var(--wa);
    color: var(--black);
    border: none;
    border-radius: var(--radius-l);
    font-size: var(--fs-md);
    width: fit-content;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  button:hover {
    background-color: var(--wa-dark);
    color: var(--white);
  }
</style>
