---
import WhatsApp from "@/components/icons/WhatsApp.astro";
---

<button>
  <slot>
    <span> información por WA </span>
    <WhatsApp size={25} />
  </slot>
</button>

<style>
  button {
    background-color: #25d366;
    color: var(--black);
    border: none;
    border-radius: var(--radius);
    font-size: var(--fs-md);
    width: fit-content;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  button:hover {
    background-color: var(--ws-dark);
    color: var(--white);
  }
</style>
