---
import type { Step } from "@/types";
import { Image } from "astro:assets";

interface Props {
  steps: Step[];
}

const { steps } = Astro.props;
---

<ul>
  {
    steps.map(({ description, name, icon }) => {
      return (
        <li>
          <header>
            <picture>
              <Image src={icon} alt={name} />
            </picture>
            <h3>{name}</h3>
          </header>
          <p>{description}</p>
        </li>
      );
    })
  }
</ul>

<style>
  header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  picture {
    border-radius: var(--radius-full);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.8rem;
    background: linear-gradient(var(--primary), var(--black));
  }

  h3 {
    font-family: var(--ff-heading);
    font-size: var(--fs-xl);
  }

  ul {
    display: grid;
    gap: 2rem;
    margin-top: 5rem;
  }

  li {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    font-size: var(--fs-md);
  }

  @media (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
