---
import selfConfidence from "@/assets/svg/autoconfianza.svg";
import mentalControl from "@/assets/svg/fortaleza-mental.svg";
import personalDefense from "@/assets/svg/defensa-personal.svg";
import balance from "@/assets/svg/psicomotricidad.svg";

import { Image } from "astro:assets";

const advs = [
  {
    icon: selfConfidence,
    title: "autoconfianza",
    description:
      "Mejora la seguridad en uno mismo al superar retos y aprender nuevas habilidades. Refuerza la autoestima a través de la práctica constante y la superación personal.",
  },
  {
    icon: mentalControl,
    title: "fortaleza mental",
    description:
      "Fomenta la concentración, la paciencia y la resiliencia ante la adversidad. Ayuda a mantener la calma, pensar con claridad y afrontar situaciones de presión.",
  },
  {
    icon: personalDefense,
    title: "defensa personal",
    description:
      "Enseña técnicas efectivas para reaccionar y protegerse en escenarios reales. Aporta herramientas prácticas para desenvolverse con seguridad y autocontrol.",
  },
  {
    icon: balance,
    title: "psicomotricidad",
    description:
      "Desarrolla coordinación, equilibrio y control corporal a través del movimiento. Mejora la agilidad, el tiempo de reacción y la conciencia física en cada acción.",
  },
];
---

<ul>
  {
    advs.map(({ description, title, icon }, i) => {
      return (
        <li>
          <header>
            <Image src={icon} alt={title} />
            <h3>{title}</h3>
          </header>
          <p>{description}</p>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: grid;
    margin: 5rem 0 0;
    gap: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-size: var(--fs-xl);
  }

  img {
    min-width: 5rem;
  }

  p {
    font-size: var(--fs-md);
    text-align: center;
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
