---
import { Image } from "astro:assets";

interface Props {
  cards: {
    description: string;
    title: string;
    icon: ImageMetadata;
  }[];
  grid?: 3;
}

const { cards, grid } = Astro.props;
---

<ul
  class:list={{
    "grid-3": grid === 3,
  }}
>
  {
    cards.map(({ description, title, icon }, i) => {
      return (
        <li>
          <header>
            <Image loading="lazy" src={icon} alt={title} />
            <h3>{title}</h3>
          </header>
          <p>{description}</p>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: grid;
    margin: 5rem 0 0;
    gap: 1rem;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    padding: 2rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  h3 {
    text-transform: uppercase;
    font-family: var(--ff-heading);
    font-size: var(--fs-xl);
  }

  img {
    min-width: 5rem;
    max-width: 5rem;
  }

  p {
    font-size: var(--fs-md);
    text-align: center;
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    ul {
      grid-template-columns: repeat(2, 1fr);
    }

    ul.grid-3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
