---
// import Arrow from "@/components/icons/Arrow.astro";
import { GLOBAL_DATA } from "@/vars";
import Phone from "@/components/icons/Phone.astro";
import Arrow from "./icons/Arrow.astro";

// import { getRelativeLocaleUrl } from "astro:i18n";

// defaultLocale es "es"
// const aboutURL = getRelativeLocaleUrl("en", "abo");
---

<nav id="header-nav">
  <ul class="menu">
    <li class="li-with-sub-menu">
      <span
        ><a href="/#clases">clases</a>
        <span class="box-arrow"><Arrow size={22} /></span></span
      >
      <ul class="sub-menu">
        <div class="sub-menu-inner">
          <li><a href="/#clases">adultos</a></li>
          <li><a href="/es/clases/jiu-jitsu-infantil/">jiu jitsu infantil</a></li>
          <li><a href="/es/clases/particulares/">clases privadas</a></li>
        </div>
      </ul>
    </li>
    <li>
      <a href="/es/horarios/">horarios</a>
    </li>
    <li>
      <a href="/es/precios/">precios</a>
    </li>
    <li>
      <a href="/es/escuela/">escuela</a>
    </li>

    <li>
      <a href="/es/blog/">blog</a>
    </li>

    <li>
      <a href="/es/preguntas-frecuentes/">FAQs</a>
    </li>

    <li>
      <a href="/es/contacto/">contacto</a>
    </li>

    <!-- WA btn  -->
    <li>
      <a
        target="_blank"
        rel="noopener noreferrer"
        class="call"
        href={GLOBAL_DATA.CALL_LINK}
      >
        {GLOBAL_DATA.PHONE_MASK}
        <Phone size={20} />
      </a>
    </li>
  </ul>
</nav>

<script>
  const subMenuToggle = document.querySelector(".li-with-sub-menu > span");
  subMenuToggle?.addEventListener("click", (e) => {
    e.preventDefault();
    subMenuToggle.closest(".li-with-sub-menu")?.classList.toggle("open");
  });
</script>

<style>
  /* MOBILE */
  @media (max-width: 1024px) {
    nav {
      position: fixed;
      bottom: 0;
      height: 100dvh;
      top: 0;
      width: 100dvw;
      left: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.5s ease;
      background-color: var(--white);
    }

    nav.active {
      transform: translateX(0);
    }

    .menu {
      max-height: 80dvh;
      overflow-y: auto;
      width: 85%;
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .menu > li {
      line-height: 1;
      border-bottom: 1px solid var(--gray);
      padding-bottom: 1.5rem;
    }

    .menu > li:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    a,
    span {
      font-family: var(--ff-heading);
      color: var(--black);
      font-size: var(--fs-2xl);
    }

    .li-with-sub-menu > span {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    .box-arrow {
      display: flex;
      align-items: center;
      transition: transform 0.3s ease;
    }

    .li-with-sub-menu.open .box-arrow {
      transform: rotate(-90deg);
    }

    .sub-menu {
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 0.3s ease;
    }

    .li-with-sub-menu.open .sub-menu {
      grid-template-rows: 1fr;
    }

    .sub-menu-inner {
      overflow: hidden;
    }

    .sub-menu a {
      display: block;
      font-size: var(--fs-l);
      font-family: var(--ff-base-bold);
      color: var(--dark-500);
      padding: 0.5rem 0 0.5rem 1rem;
    }

    .sub-menu a:first-child {
      padding-top: 1.5rem;
    }

    .call {
      display: none;
    }
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    .menu {
      display: flex;
      gap: 1rem;
      align-items: center;
    }

    li {
      cursor: pointer;
      font-size: var(--fs-md);
    }

    .menu > li > a,
    .menu > li > span {
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
    }

    .menu > li:hover > * {
      color: var(--primary);
    }

    .li-with-sub-menu {
      position: relative;
    }

    .li-with-sub-menu > span {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      text-transform: capitalize;
    }

    .box-arrow {
      display: flex;
      align-items: center;
      transition: transform 0.3s ease;
    }

    .li-with-sub-menu:hover .box-arrow {
      transform: rotate(-90deg);
    }

    .sub-menu {
      position: absolute;
      right: 50%;
      transform: translateX(50%) translateY(-20px);
      margin-inline: auto;
      width: max-content;
      top: 100%;
      opacity: 0;
      visibility: hidden;
      padding: 2rem 0.3rem 0.3rem;
      transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s ease;
    }

    .sub-menu li {
      background-color: var(--secondary);
      border-bottom: 1px dashed var(--dark-700);
      transition: background-color 0.3s ease;
    }

    .sub-menu li:first-of-type {
      border-radius: var(--radius) var(--radius) 0 0;
    }

    .sub-menu li:last-of-type {
      border-radius: 0 0 var(--radius) var(--radius);
      border-bottom: none;
    }

    .sub-menu a {
      display: block;
      padding: 0.5rem 1rem;
      transition: color 0.3s ease;
    }

    .sub-menu li:hover {
      background-color: var(--primary);
    }

    .sub-menu li:hover a {
      color: var(--white);
    }

    .li-with-sub-menu:hover .sub-menu {
      opacity: 1;
      visibility: visible;
      transform: translateX(50%) translateY(0px);
    }

    /* elimina la imágen de fondo del menú en mobile */
    img {
      display: none;
    }

    /* elimina la máscara del menú en mobile */
    .mask::after {
      display: none;
    }

    .call {
      border: 1px solid var(--wa);
      border-radius: var(--radius-l);
      padding: 0.3rem 1rem;
      font-size: var(--fs-sm);
      color: var(--wa);
      display: flex;
      gap: 0.5rem;
      text-transform: capitalize;
      background-color: var(--white);
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
    }

    .call:hover {
      background-color: var(--wa-dark);
      color: var(--white) !important;
    }
  }
</style>
