---
import { Image } from "astro:assets";
import logo from "@/assets/mark/logo.svg";
---

<header>
  <div>
    <Image src={logo} alt="logo de atenea brazilian jiu jitsu team en madrid" />

    <nav>
      <a href="">blog</a>
    </nav>
  </div>
</header>
