---
interface Props {
  color?: "blue";
}

const { color } = Astro.props;
---

<h2 class={color}>
  <slot />
</h2>

<style>
  h2 {
    font-size: var(--fs-3xl);
    font-family: var(--ff-heading);
  }

  h2.blue {
    color: var(--primary);
  }

  @media (min-width: 1024px) {
    h2 {
      text-align: center;
    }
  }
</style>
