---

---

<nav id="header-nav" class="mask">
  <a href="">blog</a>
  <a href="">contacto</a>
  <a href="">servicios</a>
</nav>

<style>
  /* MOBILE */
  @media (max-width: 1024px) {
    nav {
      position: fixed;
      bottom: 0;
      height: 100dvh;
      top: 0;
      width: 100dvw;
      left: 0;
      z-index: -1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transform: translateX(100%);
      transition: transform 0.3s ease;
      background-image: url("/img/deco/bg-menu-mobile.jpg");
      background-position: center center;
      background-size: cover;
    }

    nav.active {
      transform: translateX(0);
    }

    img {
      position: absolute;
      z-index: -1;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    a {
      font-family: var(--ff-heading);
      color: var(--white);
      font-size: var(--fs-3xl);
    }
  }

  /* DESKTOP */

  @media (min-width: 1024px) {
    nav {
      background-color: green;
    }

    img {
      display: none;
    }

    .mask::after {
      display: none;
    }
  }
</style>
