---
import { Image } from "astro:assets";
import logo from "@/assets/mark/logo.svg";
import HeaderNav from "@/components/HeaderNav.astro";
import BtnMenuMobile from "@/components/BtnMenuMobile.astro";
---

<header>
  <div class="wrapper">
    <a href="/">
      <Image
        src={logo}
        alt="logo de atenea brazilian jiu jitsu team en madrid"
      />
      <span id="business-name">atenea bjj team</span>
    </a>

    <BtnMenuMobile />
    <HeaderNav />
  </div>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--header-height);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 90;
    display: flex;
    align-items: center;
    background: rgb(255, 255, 255, 0.85);
    border-bottom: 1px solid var(--gray);
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  a span {
    font-size: var(--fs-sm);
    text-transform: uppercase;
    transition: opacity 0.3s ease;
  }

  span.active {
    opacity: 0;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    max-width: 2.5rem;
  }
</style>
