<div>
  <button id="btn-toc-mobile"> Tabla de contenido </button>
  <button class="btn-free-class" id="btn-free-class">
    Reservar clase de prueba gratis
  </button>
</div>

<script src="@/helpers/handleTOC.ts"></script>

<style>
  div {
    position: fixed;
    bottom: 0;
    background-color: var(--white);
    border-top: 1px solid var(--gray);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    gap: 0.5rem;
    min-height: 78px;
    z-index: 119;
  }

  button {
    background-color: var(--white);
    font-size: var(--fs-sm);
    padding: 0.5rem;
    flex: 1;
    text-align: center;
    border-radius: var(--radius);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  button {
    border: 1px solid var(--primary);
    color: var(--primary);
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  button.active {
    background-color: var(--primary);
    color: var(--white);
  }

  .btn-free-class {
    border: 1px solid transparent;
    color: var(--white);
    background-color: var(--third);
  }

  @media (min-width: 1024px) {
    div {
      display: none;
    }
  }
</style>
