<section class={Astro.props.class}>
  <slot />
</section>

<style>
  section {
    min-height: 100vh;
    padding-block: 3rem;
  }

  section.no-space {
    padding-block: 0;
  }

  section.first {
    margin-top: 3rem;
  }

  @media (min-width: 2200px) {
    section {
      min-height: 80vh;
    }
  }
</style>
