---
const days = [
  {
    name: "lunes",
  },
];
---

<ul class="schedule-mobile">
  <li>lunes</li>
</ul>

<style>
  @media (min-width: 1024px) {
    .schedule-mobile {
      display: none;
    }
  }
</style>
