---
import { formatearMoneda } from "@/helpers/formatCurrency";
import Buy from "@/components/icons/Buy.astro";
import type { Plan } from "@/types";

interface Props {
  plans: Plan[];
}

const { plans } = Astro.props;
---

<ul>
  {
    plans.map(({ link, monthly, name, price, tagline }) => {
      return (
        <li>
          <div>
            <h3>{name}</h3>
            {tagline && <span class="tagline">{tagline}</span>}
          </div>
          <span class="price">
            {formatearMoneda(price)}
            <span class="monthly">{monthly && "/mes"}</span>
          </span>
          <a target="_blank" rel="noopener noreferrer" href={link}>
            <span>comprar</span>
            <Buy size={25} />
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  ul {
    display: grid;
    margin-top: 3rem;
  }

  li {
    display: grid;
    padding: 2rem 1rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 2rem;
    min-height: 150px;
    border-radius: var(--radius);
  }

  li:nth-child(odd) {
    background-color: var(--light);
  }

  .tagline {
    font-size: var(--fs-md);
    color: var(--third);
  }

  .price {
    text-align: right;
  }

  .monthly {
    font-size: var(--fs-md);
  }

  a {
    grid-column: 1/-1;
    border: 1px solid var(--primary);
    padding: 0.5rem 1rem;
    border-radius: var(--radius-l);
    text-align: center;
    color: var(--primary);
    font-size: var(--fs-md);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  a:hover {
    background-color: var(--primary);
    color: var(--white);
  }

  @media (min-width: 1024px) {
    ul {
      max-width: 700px;
      margin-inline: auto;
    }

    li {
      grid-template-columns: repeat(3, 1fr);
      padding: 2rem;
    }

    .price {
      text-align: center;
    }

    a {
      grid-column: 3/4;
    }
  }
</style>
