---
import { buildHeadings } from "@/helpers/buildHeading";
import MinimalArrow from "./icons/MinimalArrow.astro";

interface Props {
  body: string;
}

const { body } = Astro.props;

const headings = buildHeadings(body);
---

<nav id="toc" class="toc">
  <div class="wrap-toc">
    <header>
      <h2>tabla de contenido</h2>
    </header>
    <ul>
      {
        headings.map(({ text }) => {
          const splitedText = text.split(" ");

          const cleanedText = splitedText.map((word) => {
            return word.toLocaleLowerCase().replaceAll(/[¿?!:]/g, "");
          });

          const createSlug = cleanedText.join("-");

          return (
            <li>
              <a href={`#${createSlug}`}>
                {" "}
                <MinimalArrow size={15} /> {text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>

<script src="@/helpers/handleTOC.ts"></script>

<style>
  /* MOBILE */
  @media (max-width: 1024px) {
    .toc {
      --distance-bot: 78px;
      background: linear-gradient(45deg, var(--white), var(--light));
      border-top: 1px dashed var(--gray);
      position: fixed;
      bottom: var(--distance-bot);
      left: 0;
      width: 100%;
      padding: 1rem;
      font-size: var(--fs-s);
      transform: translateY(100%);
      opacity: 0;
      visibility: hidden;
      transition:
        transform 0.5s ease,
        opacity 0.5s ease,
        visibility 0.5s ease;
      z-index: 120;
    }

    .toc.active {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    .wrap-toc {
      display: grid;
      gap: 0.5rem;
    }

    h2 {
      font-size: var(--fs-md);
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      max-height: 40vh;
      overflow-y: auto;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent 100%
      );
      padding-bottom: 2rem;
    }

    a {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
    }

    a:active {
      color: var(--primary);
    }
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    .toc {
      display: block;
    }

    .wrap-toc {
      position: sticky;
      top: calc(var(--header-height) * 1.25);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      font-size: var(--fs-base);
    }

    ul {
      display: flex;
      flex-direction: column;
      max-height: 80vh;
      overflow-y: auto;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent 100%
      );
      padding-bottom: 5rem;
    }

    ul::-webkit-scrollbar {
      width: 5px;
    }

    ul::-webkit-scrollbar-track {
      background: var(--gray); /* Color de fondo de la barra */
      border-radius: 10px;
    }

    ul::-webkit-scrollbar-thumb {
      background: var(--dark-900); /* Color del pnavgar (thumb) */
      border-radius: 10px;
    }

    a {
      font-size: var(--fs-md);
      color: var(--dark-700);
      transition:
        color 0.3s ease,
        background-color 0.3s ease;
      max-width: 40ch;
      padding: 0.5rem;
      border-radius: var(--radius) 0 0 var(--radius);
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: 0.5rem;
    }

    a.active {
      color: var(--primary);
      background-color: var(--light);
    }

    a:hover {
      color: var(--black);
    }
  }
</style>
