---
import { buildHeadings } from "@/helpers/buildHeading";

interface Props {
  body: string;
}

const { body } = Astro.props;

const headings = buildHeadings(body);
console.log(headings);
---

<nav class="toc">
  <div class="wrap-toc">
    <header>
      <h2>tabla de contenido</h2>
    </header>
    <ul>
      {
        headings.map(({ text, type }) => {
          const splitedText = text.split(" ");

          const cleanedText = splitedText.map((word) => {
            return word.toLocaleLowerCase().replaceAll(/[¿?!:]/g, "");
          });

          const createSlug = cleanedText.join("-");

          return (
            <li>
              <a href={`#${createSlug}`}> -> {text}</a>
            </li>
          );
        })
      }
    </ul>
  </div>
</nav>

<script src="@/helpers/handleTOC.ts"></script>

<style>
  /* MOBILE */
  @media (max-width: 1024px) {
    .toc {
      /* background-color: lightblue; */
      display: none;
    }
  }

  /* DESKTOP */
  @media (min-width: 1024px) {
    .toc {
      display: block;
    }

    .wrap-toc {
      position: sticky;
      top: calc(var(--header-height) * 1.25);
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    h2 {
      font-size: var(--fs-base);
    }

    ul {
      display: flex;
      flex-direction: column;
      /* gap: 1rem; */
      max-height: 80vh;
      overflow-y: auto;
      mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
      -webkit-mask-image: linear-gradient(
        to bottom,
        black 80%,
        transparent 100%
      );
      padding-bottom: 5rem;
    }

    ul::-webkit-scrollbar {
      width: 5px;
    }

    ul::-webkit-scrollbar-track {
      background: var(--gray); /* Color de fondo de la barra */
      border-radius: 10px;
    }

    ul::-webkit-scrollbar-thumb {
      background: var(--dark-900); /* Color del pnavgar (thumb) */
      border-radius: 10px;
    }

    a {
      font-size: var(--fs-md);
      color: var(--dark-700);
      transition:
        color 0.3s ease,
        background-color 0.3s ease;
      max-width: 40ch;
      display: block;
      padding: 0.5rem;
      border-radius: var(--radius) 0 0 var(--radius);
    }

    a.active {
      color: var(--primary);
      background-color: var(--gray);
    }

    a:hover {
      color: var(--black);
    }
  }
</style>
