---
import CardsServices from "@/components/CardsServices.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import { programs, mainClasses } from "@/data/classes";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <Hero h1="clases" tagline="Todas nuestras clases y programas" />

  <Section class="wrapper">
    <HeadingH2>clases principales</HeadingH2>
    <HeadingDescription>
      Nuestros programas principales están diseñados según cada modalidad y
      adaptados a todos los niveles, garantizando un aprendizaje completo y
      progresivo.
    </HeadingDescription>
    <CardsServices cards={mainClasses} style="classes" />
  </Section>

  <Section class="wrapper">
    <HeadingH2>otras clases</HeadingH2>
    <HeadingDescription>
      Además de nuestros programas principales, contamos con clases adicionales
      diseñadas para ampliar y enriquecer tu formación deportiva, adaptadas a
      tus intereses y necesidades.
    </HeadingDescription>
    <CardsServices cards={programs} style="programs" />
  </Section>
</Layout>
