---
import HeadingH2 from "@/components/HeadingH2.astro";
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import CardsCoaches from "@/components/CardsCoaches.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import BtnMainCta from "@/components/BtnMainCta.astro";
import CardsStep from "@/components/CardsStep.astro";
import { principles } from "@/data/steps";
import { imagesSchool } from "@/data/images";

const metaData = {
  metaTitle: "Escuela",
  metaDescription:
    "Información sobre nuestra escuela, historia, principios, profesores y espacio.",
};
---

<Layout metaData={metaData}>
  <Hero h1="escuela" tagline="sumérgete en la ola" />

  <Section class="wrapper">
    <HeadingH2>historia y valores</HeadingH2>
    <HeadingDescription>
      Fundada por el profesor Renzo Martínez, abrimos las puertas de nuestra
      sede en Madrid en el 2022, creciendo rápidamente como una destacada
      academia de jiu-jitsu. Utilizamos una metodología basada en un sistema de
      formación estructurado y adaptado a nuestros alumnos. Destacamos por un
      enfoque efectivo y una enseñanza de calidad.
    </HeadingDescription>
    <CardsStep steps={principles} />
  </Section>

  <Section class="wrapper">
    <HeadingH2>profesores</HeadingH2>
    <CardsCoaches />
  </Section>

  <Section>
    <div class="wrapper">
      <HeadingH2>nuestro espacio</HeadingH2>
    </div>

    <ImagesGrid images={imagesSchool} />

    <div class="wrapper">
      <HeadingH2>ven a conocernos</HeadingH2>
      <HeadingDescription>
        Entrena con nosotros y descubre lo que hace única a nuestra comunidad.
        Nos vemos en el tatami!
      </HeadingDescription>
      <div class="center-content mt-3">
        <BtnMainCta />
      </div>
    </div>
  </Section>
</Layout>
