---
import HeadingH2 from "@/components/HeadingH2.astro";
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import CardsCoaches from "@/components/CardsCoaches.astro";
import ImagesGrid from "@/components/ImagesGrid.astro";
import HeadingDescription from "@/components/HeadingDescription.astro";
import BtnMainCta from "@/components/BtnMainCta.astro";
---

<Layout>
  <Hero h1="escuela" tagline="sumérgete en la ola" />

  <Section>
    <HeadingH2>historia y estilo</HeadingH2>
    <HeadingDescription>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
      libero doloremque, voluptate dolorem nemo delectus architecto accusantium
      omnis nobis placeat quia inventore voluptas alias animi! Consequatur rem
      at labore.
    </HeadingDescription>
  </Section>

  <Section class="wrapper">
    <HeadingH2>profesores</HeadingH2>
    <CardsCoaches />
  </Section>

  <Section>
    <HeadingH2>nuestro espacio</HeadingH2>

    <ImagesGrid />
    <HeadingH2>ven a conocernos</HeadingH2>
    <HeadingDescription>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit commodi
      libero doloremque, voluptate dolorem nemo delectus architecto accusantium
      omnis nobis placeat quia inventore voluptas alias animi! Consequatur rem
      at labore.
    </HeadingDescription>
    <div class="center-content">
      <BtnMainCta />
    </div>
  </Section>
</Layout>
