---
import BtnFloatDesktop from "@/components/BtnFloatDesktop.astro";
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import TableSchedule from "@/components/TableSchedule.astro";
import TableScheduleDesktop from "@/components/TableScheduleDesktop.astro";
import Layout from "@/layouts/Layout.astro";

const metaData = {
  metaTitle: "Horarios",
  metaDescription: "Consulta todas las clases de la semana de un vistazo.",
  ogImage: "TODO",
};
---

<Layout metaData={metaData}>
  <Hero h1="horarios" tagline="Todas las clases de la semana" />

  <Section class="wrapper">
    <TableSchedule />
    <TableScheduleDesktop />
  </Section>
  <BtnFloatDesktop />
</Layout>
