---
import Faqs from "@/components/Faqs.astro";
import HeadingH2 from "@/components/HeadingH2.astro";
import Hero from "@/components/Hero.astro";
import Section from "@/components/Section.astro";
import {
  newMembers,
  suscribtions,
  classes_programs,
  AllFAQs,
} from "@/data/faqs";
import Layout from "@/layouts/Layout.astro";
import BtnFloatDesktop from "@/components/BtnFloatDesktop.astro";
import MultiFAQs from "@/components/MultiFAQs.astro";

const metaData = {
  metaTitle: "Preguntas frecuentes",
  metaDescription: "Las preguntas más comúnes",
};
---

<Layout metaData={metaData}>
  <Hero
    h1="preguntas frecuentes"
    tagline="si tienes más preguntas contáctanos"
  />
  <Section class="wrapper-max auto">
    <MultiFAQs block={AllFAQs} />
  </Section>

  <BtnFloatDesktop />
</Layout>
