---
import type { CollectionEntry } from "astro:content";
import "@/styles/content.css";
import HeaderBlog from "@/components/HeaderBlog.astro";
import AsideBlog from "@/components/AsideBlog.astro";
import TOC from "@/components/TOC.astro";
import KeypadPost from "@/components/KeypadPost.astro";

interface Props {
  body: string;
  post: CollectionEntry<"posts">;
}

const { body, post } = Astro.props;
const { data } = post;
---

<article>
  <div class="wrapper-max top-container">
    <picture class="picture mask">
      <!-- Imagen para pantallas grandes (escritorio) -->
      <source
        type="image/webp"
        media="(min-width: 1024px)"
        srcset="/img/blog/que-es-el-jiu-jitsu-desktop.webp"
      />

      <!-- Imagen por defecto (móvil) -->
      <img
        class="main-image"
        width="700"
        height="400"
        loading="eager"
        decoding="async"
        src="/img/blog/que-es-el-jiu-jitsu-mobile.webp"
        alt="TODO"
      />
    </picture>
    <h1>{data.h1}</h1>

    <HeaderBlog post={post} />
  </div>

  <section class="wrap-content">
    <!-- TOC -->
    <TOC body={body} />

    <!-- content -->
    <div class="wrapper-max">
      <slot />
    </div>

    <!-- banner -->
    <AsideBlog />
  </section>
  <KeypadPost />
</article>

<style>
  .top-container {
    position: relative;
  }

  .picture {
    height: 50vh;
    max-height: 30rem;
    position: relative;
    border-radius: 0 0 var(--radius) var(--radius);
    overflow: hidden;
  }

  .mask::after {
    z-index: 1;
  }

  .main-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  h1 {
    position: absolute;
    top: 0;
    color: var(--white);
    z-index: 3;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    font-size: var(--fs-xl);
    text-align: center;
    padding: 0 1rem;
  }

  .wrap-content {
    margin-top: 10rem;
    max-width: 1800px;
    width: 98%;
    margin-inline: auto;
  }

  @media (min-width: 1024px) {
    h1 {
      font-size: var(--fs-2xl);
    }

    .wrap-content {
      display: grid;
      grid-template-columns: 1fr 700px 1fr;
    }
  }
</style>
